*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;

}

.input{
    text-align: center;
    margin: 100px 0;
}
input[type="text"]{
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}
button{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display{
    text-align: center;
}


.result{
    text-align: center;
    font-size: 30px;
}

.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: 34px;
    letter-spacing: 1px;
}